.glyphicon-log-in:before{
    margin-right: 5px;
}
.starter-template{
    padding: 54px 15px;
    text-align: center;
}
.activities{
    width: 160px;
    margin-bottom: 10px;
}
.activities .btn-activity{
    width: 100%;
    text-align: left;
}
.activities .btn-activity .caret{
    float: right;
    position: relative;
    top: -10px;
}
.task textarea{
    border: 1px solid #E2E2E2;
    display: block;
    line-height: 20px;
    min-height: 150px;
    width: 95%;
    margin-left: 14px;
}
.task p{
    text-align: left;
}
.task .panel-body{
  text-align: left;
}
.panel-heading .panel-title{
    width: 80%;
    display: inline-block;
    text-align: left;
}
#saveList{
    margin-top:20px;
    margin-left:14px;
    left:0px;
    position: absolute;
}

.checked-img{
	content:url(../img/checked-true.png);
	height : 30px;
	width  : 30px;"
}

.non-checked-img{
	content:url(../img/checked-false.png);
	height : 30px;
	width  : 30px;"
}

.angry-gif{
	content:url(../img/angry-smiley-face-swearing-emoticon.gif);
	height : 40px;
	width  : 40px;"
}

.happy-gif{
	content:url(../img/super-happy-dance-smiley-emoticon.gif);
	height : 40px;
	width  : 40px;"
}